:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --logo-color: #000000;
  --addres-color: rgba(255, 255, 255, 0.6);
  --header-bd-cl: #ececec;
  --border-potfolio-cl: #eeeeee;
  --bg-hero-grad: rgba(47, 48, 58, 0.4);
  --icon-cl: #afb1b8;
  --bg-cl: rgba(47, 48, 58, 0.8);
}
body {
  background-color: var(--main-background-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
}

span {
  color: var(--accent-color);
}

/*reset*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.link,
.logo {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

/* шапка */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--header-bd-cl);
  padding-top: 24px;
  padding-bottom: 25px;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.contact {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.cotact-link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.item .cotact-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.telphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.cotact-link:hover,
.cotact-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--dark-background-color);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  min-height: 600px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.hero-title {
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

/* benefits */

.list.about {
  display: flex;
  gap: 30px;
}

.ben-bgr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--team-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-benefits {
  width: 70px;
  height: 70px;
}

.benefits-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-text {
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* work */
.work.section {
  padding-top: 0;
}

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.katalogue {
  display: flex;
  gap: 30px;
}

.katalogue .item {
  position: relative;
}

.katalogue-desc {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  background-color: var(--bg-cl);
}


/* team */
.employee {
  display: flex;
  gap: 30px;
}

.team {
  background-color: var(--team-background-color);
}

.team-title-main {
 
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team .description {
  background-color: var(--main-background-color);
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-title {
  color: var(--title-text-color);
  background-color: var(--main-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team-text {
  background-color: var(--main-background-color);
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.employee .item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 3px 1px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

/*  Іконки під командою */
.socials.list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.element .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-cl);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.element .link:hover,
.element .link:focus {
  color: var(--main-background-color);
  background-color: #2196f3;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Постійні клієнти */

.clients-title {
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.our-clients {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-cl);
  border-radius: 4px;
}

.clients-link {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-icon {
  width: 106px;
  height: 60px;
}

.clients-link .our-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-cl);
  fill: currentColor;
}

.our-clients:hover,
.our-clients:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 70px;
  margin-right: auto;
}

.footer-flex {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer .footer-link {
  color: var(--main-background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.logo.link {
  display: block;
  margin-bottom: 20px;
}
.accent2 {
  color: var(--main-background-color);
}

.footer .footer-addres {
  color: var(--addres-color);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.adress .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-addres:hover,
.footer-addres:focus {
  color: var(--accent-color);
}

.adress .list {
  display: inline;
}

/* Іконки в футері */

.join-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  gap: 10px;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-background-color);
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}



/*portfolio  */

.list.box {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  display: inline-block;
  background-color: var(--team-background-color);
  color: var(--title-text-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  min-width: 73px;
  padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.link-container .item {
  width: calc((100% - 60px) / 3);
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 6px 4px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.link-container .description {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-potfolio-cl);
  border-right: 1px solid var(--border-potfolio-cl);
  border-left: 1px solid var(--border-potfolio-cl);
}
